/*TODO
make logo
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {
    margin:0;
    padding:0;
    min-height:100%;
    background: hsla(212, 37%, 84%, 1);

    background: linear-gradient(hsla(212, 37%, 84%, 1) 0%, hsla(212, 37%, 77%, 1) 52%, hsl(212, 37%, 55%) 100%);

    background: -moz-linear-gradient(hsla(212, 37%, 84%, 1) 0%, hsla(212, 37%, 77%, 1) 52%, hsla(212, 37%, 55%, 1) 100%);

    background: -webkit-linear-gradient(hsla(212, 37%, 84%, 1) 0%, hsla(212, 37%, 77%, 1) 52%, hsla(212, 37%, 55%, 1) 100%);
    background-repeat: no-repeat;

}
.container-custom {
    min-height:100%;
    position:relative;

}
.header-custom {
    padding:0;
    margin:0;
    position: fixed;
    top:0;
    z-index: 999;
}
.body-custom {
    padding-top:0;
    padding-bottom:60px;	/* Height of the footer */
    margin-top:0;
    overflow: hidden;
}
.game-temp-body {
    padding-top:0;
    margin-top:0;
    overflow: hidden
}
.footer-custom footer {
    bottom:0;
    width:100%;
    height:80px;			/* Height of the footer */
    background:#0b1119;
    font-family: 'Fira Mono', monospace;
    display: flex;
    justify-content: space-evenly;
}
.footer-custom footer a {
    padding:10px;
    color: #e9ecec;
}
.footer-custom footer a:hover {
    color: #2c4c6f;
}
/*fonts to use
font-family: 'Fira Mono', monospace;
font-family: 'Roboto Slab', serif;
 */
/*nav style start*/


.header-custom {
    position: sticky;
    top:0;
    height: 100%;
    width: 100%;
}


.nav-custom ul {
    display:inline-block;
    text-decoration:none;
    padding: 0 0 5px 5px;
}
.nav-custom li {
    display:inline-block;
    text-decoration:none;
    padding: 0 0 5px 5px;
}
.nav-custom a {
    display:inline-block;
    text-decoration:none;
    padding: 0 0 5px 5px;
}
.nav-custom{
    background-color:#0b1119;
    height:50px;
    display:flex;
    justify-content: center;
}

.nav_img{
    background-color: rgba(255,255,255,0.2);
    width:50px;
    height:50px;
    padding: 2px;
}



.nav_list a {
    font-family: 'Fira Mono', monospace;
    padding:.625em;
    text-decoration: none;
    padding-left:1.875em;
    padding-right:1.875em;
    font-size: 1.25em;
    color: #fff3d6;
}
.nav_list a:hover{
    color:#feecbc;
    text-decoration: underline;
}

/*nav style end */
/*index start*/

.main_inner_wrapper {
    width:85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    border-bottom-left-radius: 1.5625em;
    border-bottom-right-radius: 1.5625em;
    min-height: 50vh;
}
.header_logo_title {
    background-color: white;
    height: 8em;
    width:85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    border-top-left-radius: 1.5625em;
    border-top-right-radius: 1.5625em;
}
/*main start*/

.sub-title {
    font-family: 'Fira Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;
    border-bottom: 2px solid #0b1119;
    padding-bottom: 1vh;
    box-shadow: 0 4px 4px -4px #232929;
    color: #0b1119;
}

.section-title {
    border-bottom: .01vh solid #0b1119;
    margin-bottom: 2vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cinzel', serif;
}
.section-title h2 {
    font-size: 2em;
    font-family: 'Cinzel', serif;
    padding-left: 1vw;
    font-weight: 700;
    color: #1c2f45;

}
.section-title h3 {
    font-size: 2em;
    font-family: 'Cinzel', serif;
    padding-left: 1vw;
    font-weight: 700;
    color: #1c2f45;
    margin-top: 3vh;

}

.slider-title {
    text-align: center;
    font-family: 'Fira Mono', monospace;
    color: #0b1119;
    font-size: 2.5em;
    padding:15px;
}

.screen-shots {
    color:black;
    font-size: 1em;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    background-color: rgba(255,255,255,0.15);
    width:75%;
    margin-right:auto;
    margin-left:auto;
    border-radius: 5px;
}
.screen-shots img {
    width: 271px;
    height: 152px;
    background-color: white;
    margin: 1vw 1vh;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.screen-shots img:hover {
    transform: scale(1.05);
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}


/*main end*/
/*index end*/
/*submit page start*/
.page-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #1c2f45;
    color: #121e2b;
    box-shadow: 0 6px 6px -6px #232929;
}
.page-title h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 4em;
    margin-top: 2.5vh;
    text-shadow: 2px 2px 4px #232929;
}
.form-sub-title {
    font-family: 'Fira Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;
}
#form-disclaimer {
    font-size: .75em;
    margin-top: 4vh;
    margin-bottom: 0;
}
.form-wrapper-custom {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}
label {
    display: block;
}
.frm{
    font-family: 'Fira Mono', monospace;
    font-size: 1.25em;
    width:50%;
    margin: .5vh .5vw;
    padding:10px;
    background-color: #e9ecec;
    border: 2px solid #232929;
    border-radius: 5px;
}
.frm-label-check {
    font-family: 'Fira Mono', monospace;
    font-size: 1.5em;
    text-align: right;
}
.form-titles {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    border-bottom: 2px solid #232929;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.frm:invalid {
    color: grey;
}
.frm option {
    color: #232929;
}

.submit-btn {
    background-color: #232929;
    color: #e9ecec;
    font-family: 'Fira Mono', monospace;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: .2s ease-in-out;
}
.submit-btn:hover {
    background-color: transparent;
    color: #232929;
    border: 2px solid #232929;
    transform: scale(1.1,1.1);
}
/*submit end*/
/*full list start*/
.list-wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.filter-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 1vw;
    padding: 10px;
    align-items: baseline;
    border-bottom: 2px solid #232929;
}
.filter-wrapper h2 {
    font-family: 'Fira Mono', monospace;
    color: #232929;
    font-size: 1em;
    padding: 10px;
}
.search{
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    width:100%;
    padding:10px;
    background-color: #e9ecec;
    border: 2px solid #232929;
    border-radius: 5px;
}
.filter {
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    width:100%;
    padding:10px;
    background-color: #e9ecec;
    border: 2px solid #232929;
    border-radius: 5px;
}
.filter:invalid {
    color: grey;
}
.filter option {
    color: #232929;
}
.list {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.list-section-title {
    border-bottom: .01vh solid #232929;
    margin-bottom: 2vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cinzel', serif;
    font-size: .9em;
}
.list-table {
    font-family: 'Fira Mono', monospace;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(0, 0, 0,0.3);
    margin-top: 1vh;
    color: #fff3d6;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}

.top-headings th {
    border:none;
    font-family: 'Cinzel', serif ;
    font-size: 2em;
    padding:10px;
    text-align: center;
}
.table-sections th {
    font-family: 'Cinzel', serif ;
    font-size: 2em;
    padding:10px;
    border-bottom: 2px solid #0b1119;

}
.list-table td {
    font-size: 1.35em;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.td-link {
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}
.td-link:hover {
    color: #0b1119;
}

/*list end*/
/*game template start*/
.game-temp-page-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #e9ecec;
    color: #e9ecec;
    box-shadow: 0 6px 6px -6px #e9ecec;
}
.game-temp-page-title h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 4px #232929;
    padding-top: 4vh;
}
.game-video {
    width: 100%;
    max-height: 655px;
    min-height: 655px;
    box-shadow: 0 10px 10px -10px #232929;
}
.game-video p {
    color: #e9ecec;
    font-family: 'Fira Mono', monospace;
    text-align: center;
    font-size: 1em;
}

.game-video button{
    padding:10px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -60px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    outline:none;

}
.game-video button {
    transform: scale(1.15);
}
/*bootstrap modal*/
.modal-btn {
    background-color:transparent;
    border:4px solid white;
    border-radius: 50%;
    transition: .2s ease-in
}
.modal-btn:hover {
    transform: scale(1.2);
}

.modal-content {
    background-color:rgba(28, 47, 69,0.8);
    margin-top: 15vh;
    padding: 10px;
    border-radius: 5px;

}
.modal-content iframe {
    width:90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 2px #0b1119;
    border-radius: 10px;
}


.main-page {
    width:80%;
    margin-left: auto;
    margin-right: auto;
}


.game-temp-section-title {
    border-bottom: .01vh solid #232929;
    margin-bottom: 2vh;
    margin-top: 4vh;
    font-family: 'Cinzel', serif;
    text-align: center;
    border-bottom: 2px solid white;
}
.game-temp-screen-shots {
    color:black;
    font-size: 1em;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 30vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.game-temp-screen-shots img {
    width: 384px;
    height: 216px;
    margin: 1vh 1vw;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.game-temp-screen-shots img:hover {
    transform: scale(1.05);
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}
.quick-facts-description {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding: 10px;
}
.desc-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.desc-box p {
    font-family: 'Fira Mono', monospace;
    font-size: 1.15em;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}
.desc-box h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;

}
.quick-fact {
    border: 2px solid #232929;
    padding: 10px;
    border-radius: 10px;
    max-height: 25vh;
}
.quick-fact h3 {
    font-family: 'Cinzel', serif;
    font-size:1.5em;
    border-bottom: 1px solid #232929;
    margin-bottom: .75vh;
}
.quick-fact-list {
    font-family: 'Fira Mono', monospace;
    text-decoration: none;
    list-style-type: none;
}
.game-temp-links  {
    display: flex;
    justify-content: space-evenly;
}
.game-temp-links a {
    color: #232929;
    font-family: 'Fira Mono', monospace;
    font-size: 1.75em;
    padding:10px;
}
.game-temp-links a:hover {
    color: #e9ecec;
    background: #232929;
    border-radius: 15px;
}
.game-temp-links br {
    display: none;
}
.recommended-games-box {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #232929;
    margin-bottom: 1vh;
    margin-top: 10vh;
    box-shadow: 0 10px 10px -10px #232929;
}
.recommended-games {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.recommended-games-carousel {
    height: auto;
}
.recommended-games a {
    color: #232929;
}
.about-sub-title {
    font-family: 'Fira Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;
    padding-bottom: 1vh;
}

/*bootstrap carousel*/
#featured-1 {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://lh3.googleusercontent.com/pciublpVQAa-x6qAjEM_U7V4DZsm2FYGbR0z4TPf2bdHr_E6vqjpKHOHkBEPT0sXnBWUK36gAVgqg17flfA-EYl8EEhY2ZZmbMdl3LR2t6a__bihVmX79dMMx9stDGAm8-9gDN-u=w600-h315-p-k");
    background-size: cover;
}
#featured-2 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://lh3.googleusercontent.com/fIMrYiuivsIsmcdMETgRDoZuWaim7cx6WStpk8dVq7CqwRu91DN1mI-z5qCTxakl0oui4a1KJAZDqZ7RqNlfJBLag0aWEXdWT_yTEkdMAgs8e4wm7Ud452MGN1GEdLbTEUZmkcfD=w600-h315-p-k" );
    background-size: cover;
}
#featured-3 {
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url("https://lh3.googleusercontent.com/gLudBLEQx6sRx4AFz4tg1VkRZDgXUrK7de4WkM58dJnl234cAamunzsI-FhTM3ZQr5Zgb1OTxPIfuENTbZF2HUmesQIN6ZZ4X2I51ghiPNxH2menOwtXMb_tD3EhMemIYq3o1a-B=w600-h315-p-k" );
    background-size: cover;
}
#newest-1 {
    background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url("https://lh3.googleusercontent.com/ZjOZlU8Q36bnbbc-HjUT50qS9T3tOW4FJK5YRFqEZdhKWsoQUReNgHHH6Jn4F09p4XDgkGVeg03-oMltMOX_9XY7eSaN3YunojID-CeoIvsOGNN5zQlIQJ0IHTJwTOxttTJOMj9m=w600-h315-p-k" ) ;
    background-size: cover;
}
#newest-2 {
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url("https://lh3.googleusercontent.com/tL8dLryqmjVxTZzeIK5jGr6aoZ3zhJJ001Rvb_WW6ueLjO1iYF5Q5spvSc9Di6TsRm1LkBFt2x33ryQehypo6PuKR84BE8LUcC9QpC25H959S4Dm64ZoA89FcbWKxdXtWoVki197=w600-h315-p-k" );
    background-size: cover;
}
#newest-3 {
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url("https://lh3.googleusercontent.com/nqxlcFl2xXMT0sfc4abfFmOy3hQXKIhP78xQABi_Yp6nyfIofmfFOAH4VD8uhuw4-4pxAPxu1h7xIPi42neAZFTDNgGyUxwMJT1jvWQSxZ_JOsvTehvWK9VvwSaFXiSmNaW7ylZu=w600-h315-p-k" ) ;
    background-size: cover;
}
.carousel {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 4px 4px 4px 4px #232929;
    border-radius: 10px;
}
.carousel-inner {
    border-radius: 10px;
}
.carousel-item {
    border: 2px solid #fff3d6;
    border-radius: 10px;
    text-align: center;

}
.index-carousel-item {
    min-height: 500px;
}
.carousel-title-link h1 {
    font-family: 'Cinzel', serif;
    font-size: 4em;
    margin-top:0;
    text-decoration: none;
    text-align: center;
    color: #fff3d6;
    padding-top:0;

}

.carousel-item h1:hover {
    text-decoration: underline;
    color: #4b78a8;
}
.carousel-item h2 {
    text-align: center;
    font-family: 'Fira Mono', monospace;
    color: #fff3d6;

}
.carousel-quick-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #fff3d6;
    margin-bottom: 1vh;

}
.carousel-quick-fact {
    text-align: center;
    color: #fff3d6;
}
.carousel-quick-fact ul li {
    font-family: 'Fira Mono', monospace;
    font-size: 1.5em;
    list-style-type: none;
}
#lightbox {
    position:fixed;
    z-index:99999;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    display:none;
}
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lightbox2 {
    position:fixed;
    z-index:99999;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    display:none;
}
#lightbox2.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 768px) {
    .mobile-nav-custom {
        display: none;
    }

}

/*mobile styles*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #homePageTitle {
        display: none;
    }
    .header-custom {
        display: none;
    }
    .mobile-nav-custom {
        overflow: hidden;
        background-color: #1c2f45;
        position: relative;
    }

    .mobile-nav-custom #mobile-links {
        display: none;
    }

    #mobile-links {
        font-family: 'Fira Mono', monospace;
        text-align: center;
    }

    .mobile-nav-custom a {
        color: #fff3d6;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
    }

    .mobile-nav-custom a.icon {
        background: #1c2f45;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .mobile-nav-custom a:hover {
        background-color: #ddd;
        color: black;
    }

    .mobile-active {
        background-color: #0b1119;
        color: #E4E6C3;
        font-family: 'Cinzel', serif;
        text-align: center;
    }

    .sub-title {
        font-size: 1.15em;
        width:100%
    }
    .carousel {
        width: 100%;
    }
    .screen-shots img:nth-child(2) {
        display: none;
    }
    .screen-shots img:nth-child(3) {
        display: none;
    }

    #indexSectionTitle {
        display: none;
    }
    .list {
        width: 100%;
    }
    .filter-wrapper {
        display: block;
    }
    .form-sub-title {
        font-size: 1.15em;
        width: 90%;
    }
    .form-titles {
        width:auto;
    }
    .frm {
        width: 90%;
    }
    .about-sub-title {
        font-size: 1.15em;
        width: 80%;
    }
    .game-video button {
        position: relative;
        margin-top: 5vh;
    }
    .quick-fact {
        max-height: inherit;
    }
    .quick-facts-description {
        display: block;
        width: 100%;
    }
    .desc-box {
        width: 100%;
    }
    .desc-box p {
        width: 100%;
    }
    .section-title {
        width: 100%;
    }
    .main-page {
        width: 95%;
    }
    .game-temp-links {
        display: block;
        text-align: center;
    }
    .game-temp-links br {
        display: block;
        padding: 10px;
    }
    .game-temp-screen-shots {
        margin-top: 15vh;
    }
    .game-temp-screen-shots img:nth-child(2) {
        display: none;
    }
    .game-temp-screen-shots img:nth-child(3) {
        display: none;
    }
    .carousel-title-link h1 {
        font-size: 2.75em;
        padding: 20px;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .table-sections th {
        border-bottom: none;
        padding:0;
    }

    .td-link {
        border-bottom: 2px solid #0b1119;
        background-color: #0b1119;
    }
    .td-link:hover {
        color:#6289b7;
    }
}